.root{
    -fx-background-image: url("light-background-hd-wallpaper-preview.jpg");
    -fx-background-size: 2000px;
}
.button {
    -fx-font-size: 22px;
    -fx-text-fill: white;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#859294, #5a676b);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
    -fx-background-color: linear-gradient(#5a676b, #859294);
}
#smallLabel{
    -fx-font-size: 28px;
    -fx-text-fill: #efe7e7;
    -fx-font-style: italic;
}
#ContestDataLabel{
    -fx-font-size: 22px;
    -fx-text-fill: #efe7e7;
    -fx-font-style: italic;
}
#bigLabel{
    -fx-font-size: 34px;
    -fx-text-fill: #efe7e7;
    -fx-font-style: italic;
}
#smallTitle {
    -fx-font-size: 36px;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(51, 46, 46, 0.96), 6, 0.0 , 0 , 2 );
}
#Title {
    -fx-font-size: 56px;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgb(252, 255, 255), 6, 0.0 , 0 , 2 );
}
#miniLabel {
    -fx-font-size: 22px;
    -fx-text-fill: #efe7e7;
    -fx-font-style: italic;
}
.contestDataLabel {
    -fx-font-size: 18px;
    -fx-text-fill: #efe7e7;
    -fx-font-style: italic;
}
#errorMessage {
    -fx-font-size: 24px;
    -fx-font-style: italic;
//-fx-font-weight: bold;
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgb(232, 8, 8), 6, 0.0 , 0 , 2 );
}
#welcomeTitle {
    -fx-font-size: 70px;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-fill: #818181;
    -fx-text-fill: #bfbebe;
    -fx-effect: innershadow( three-pass-box , rgb(252, 255, 255), 6, 0.0 , 0 , 2 );
}